body{
    background-color: black;
}
h3{
    text-align: center;
    color: rgb(202, 149, 16);
    font-size: 50px;
    -webkit-text-stroke: white 1px;
    font-variant: small-caps;   
}

h1,h2{
    display: inline-flex;
    color: white;
    font-size: 55px;
    width: 45px ;
    margin: 12px;
    
}
h5{
    display: inline-flex;
    color: rgb(202, 149, 16);
    width: 40px;
    margin: 7px;
    font-style: italic;
    margin-left: 31px;
    font-size: 17px;
    
    
    text-align: center;
}
#dot{
    margin: 0 !important;
    width: 10px !important;
}
h2{
    font-size: 40px !important;
    width: 20px !important;
}

.border{
    text-align: center;
    background-color: rgb(17, 17, 17);
    margin: 0 auto;
    margin-bottom: 30px;
    border: rgb(202, 149, 16) 7px solid;
    border-radius: 10em;
    width: 280px;
    padding: 20px;
    
    
    padding: 5px auto;
    border-style: double;
    box-shadow: 5px 7px 15px rgb(56, 58, 56);
}
.btnborder{
    text-align: center;
}

.btns,.btnr,.btnp{
    
    width: 85px;
    height: 55px;
    border-radius: 40%;
    border: rgb(255, 255, 255) 2px solid;
    font-size: 16px;
    font-weight: 100;
    padding: 2px auto;
    margin: 5px;

}
.btns{
    background-color: green;
    color: white;
}
.btnp{
    background-color: rgba(148, 7, 7, 0.986);
    color: white;
}
.btnr{
    background-color: yellow;
    color: black;
}
p{
    color: rgb(135, 138, 5);
    font-size: 13px;
    text-align: right;
    font-style: italic;
}